* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #0082e6aa;
}

nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #0082e6;
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navlinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 20px;
}

.navlinks a .fa {
    margin-right: 5px;
}

.fa-angle-right {
    margin-left: 5px;
    color: white;
}

#check {
    display: none;
}

.checkbtn {
    display: none;
}

.sub-menu-1 {
    display: none;
}

.navlinks li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #0082e6;
}

.navlinks li:hover .sub-menu-1 ul {
    display: block;
    margin: 1px;
}

.navlinks li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navlinks li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.navlinks li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;
}

a:hover,
.active {
    background: #0082ff;
    color: #b2ff00;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -22%;
    margin-left: 140px;
    background: #0082e6;
}

@media screen and (max-width:1024px) {
    .navlinks {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .navlinks {
        position: fixed;
        left: -100%;
        transition: all .5s;
        width: 30vw;
        height: 50vh;
        top: 11vh;
        background-color: #0082e6aa;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #check:checked~.navlinks {
        left: 0;
    }
    .checkbtn {
        font-size: 20px;
        color: white;
        display: block;
    }
    .navlinks li:hover .sub-menu-1 {
        background: #0082e6aa;
        left: 80%;
    }
    .hover-me:hover .sub-menu-2 {
        background: #0082e6aa;
    }
}

.row {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row img {
    max-width: 100%;
    padding: 50px 0;
}

.categories {
    margin: 70px 0;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.col1 {
    display: flex;
    flex-basis: 20%;
    min-width: 150px;
    margin-bottom: 30px;
    align-items: center;
}

.col1 img {
    width: 100%;
    padding-left: 20%;
}